<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html rsf:id="polls-html" xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Results</title>
<link rsf:id="scr=portal-matter"  href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script rsf:id="scr=portal-matter" type="text/javascript" src="/library/js/headscripts.js"></script>
<script type="text/javascript">includeLatestJQuery('polls');</script>
<script type="text/javascript">includeWebjarLibrary('jquery.tablesorter');</script>
<script type="text/javascript" src="/library/js/jquery/cookie/jquery.cookie.js"></script>

<script type="text/javascript">
$(document).ready(function() { 
	$("#sortableTable").tablesorter({ 
		// sort on the first column
		sortList: [[0,0]]
	}); 
    $("#reset-order-link").click(function() { 
        // set sorting column and direction, this will sort on the first column index starts at zero
  			//Highlight effect to notify user of that action has been performed
			//$("#reset-order-link").parent().parent().effect("highlight", {}, 1000);
        var sorting = [[0,0]]; 
        // sort on the first column 
        $("#sortableTable").trigger("sorton",[sorting]); 
       // return false to stop default link action 
        return false; 
    }); 

    //check cookie to see if user has a preference and show that chart 
    //also set the select list to match
    //otherwise show bar chart by default, hide others
    var preferredChartType = $.cookie("polls-chart-type");
    if(preferredChartType) {
    	hideAllCharts();
		$('select#chart-type-selection').val(preferredChartType);
   	 	$('#poll-chart-' + preferredChartType).show();
    } else {
        $('#poll-chart-pie').hide();
		$('#poll-chart-bar').show();
    }

    //when option changes, hide all and show the one they chose.
    //then set pref in the cookie	
    $('select#chart-type-selection').change(function(event){
        var type=$(this).val();
        hideAllCharts();
        $('#poll-chart-' + type).show();
        $.cookie("polls-chart-type", type);
	});

	function hideAllCharts() {
		$('#poll-chart-bar').hide();
        $('#poll-chart-pie').hide();
	}

});
</script>
</head>
<body rsf:id="scr=sakai-body">
<div class="portletBody">
<h3 rsf:id="msg=users_not_vote_title">Results</h3>
<div rsf:id="message-for:*" class="alertMessage">
	<span>Message for user here</span>
</div>
<p rsf:id="question">Poll question</p>
<p rsf:id="number-not-vote">Num not vote</p>
  <table class="listHier lines nolines" border="0" cellspacing="0">	
    <thead>
  <tr>        
    <th>User</th>    
  </tr>
</thead>
<tbody>
  <tr rsf:id="answer-row:">    
    <td rsf:id="answer-option">User 1</td>    
  </tr>  
</tbody>
</table>


<form rsf:id="actform">
<p class="act">
  <input type="submit" name="cancel" id="reset" value="Cancel"  accesskey="x" rsf:id="cancel" class="active"/>
</p>
</form>
</div>
</body>
</html>